<div class="hero-unit">


	<h1>Pinterest!!</h1>

	<p>
		<%= link_to "Google", "http://www.google.com" %>
	</p>

	<p>
		<%= link_to "Sign Up Now", "#",class: "btn btn-primary btn-large" %>
	</p>

	<div class="footer">
		<small>
	[.........] by [...]
		</small>	
	</div>

</div>